{% extends "base.html" %}
{% block title %} Home{% endblock %}
{% block page %}

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Welcome</h3>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Home
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="/static/image/welcome-art-pavanw3b.jpg" width="300" />

                <h4>Getting up early on a Saturday morning is hard, isn't it?</h4>
            </div>

        </div>
    </div>
{% endblock %}